.footer {
  background-color: #0a2850;
  padding: 60px 80px;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  top: -128px;
  left: -44px;
}

.footer__social-heading {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: "Inter", Arial, Helvetica, sans-serif;
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
}


.footer__list-item:first-child {
  margin-bottom: 16px;
}

.footer__social-link {
  text-decoration: none;
  color: #C1C1C1;
  vertical-align: middle;

   font-family: "Inter", Arial, Helvetica, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 20px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
  vertical-align: middle;
}

.footer__copyright {
  margin-top: 108px;

   font-family: "Inter";
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 20px
}
