
.form {

  padding: 0;

}


.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  width: 385px;
  display: block;
  margin-top: 8px;
  margin-bottom: 32px;
  height: 60px;
  border-color: #838383;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  height: 60px;
  margin-bottom: 32px;
  width: 385px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
}

.form__button:hover {
  opacity: 70%;
}

.form__input::placeholder {
  padding: 15px 0 0 20px;
  color: #838383;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__checkbox-item {
  width: 20px;
  height: 20px;
}

.form__checkbox-item::selection {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
