.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  position: absolute;
  top: 30px;
  right: 80px;
}

.nav__link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.nav__link:hover {
  color: #2F80ED;
  transition: 0.5s;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  right: 50px;
  margin-bottom: 183px;
}
